<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <display-name>ds2jee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionDesLivres</display-name>
    <servlet-name>GestionDesLivres</servlet-name>
    <servlet-class>GestionDesLivres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionDesLivres</servlet-name>
    <url-pattern>/GestionDesLivres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUtilisateurs</display-name>
    <servlet-name>GestionUtilisateurs</servlet-name>
    <servlet-class>GestionUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUtilisateurs</servlet-name>
    <url-pattern>/GestionUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLivres</display-name>
    <servlet-name>GestionLivres</servlet-name>
    <servlet-class>GestionLivres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLivres</servlet-name>
    <url-pattern>/GestionLivres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDoc</display-name>
    <servlet-name>ViewDoc</servlet-name>
    <servlet-class>ViewDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDoc</servlet-name>
    <url-pattern>/ViewDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGestion</display-name>
    <servlet-name>AdminGestion</servlet-name>
    <servlet-class>AdminGestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGestion</servlet-name>
    <url-pattern>/AdminGestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EpubServlet</display-name>
    <servlet-name>EpubServlet</servlet-name>
    <servlet-class>EpubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpubServlet</servlet-name>
    <url-pattern>/EpubServlet</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>epub</extension>
    <mime-type>application/epub+zip</mime-type>
</mime-mapping>
</web-app>